main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;

  height: 100%;

  font-family: "Poppins", sans-serif;

  section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    width: 90%;
  }

  .form-section {
    text-align: start;
    color: #000;

    .title {
      h1 {
        font-size: 2.5rem;
        font-weight: 300;

        span {
          font-weight: 600;
          color: #cc2121;
        }
      }

      p {
        font-size: 1.4rem;
      }
    }
  }

  .main-section {
    text-align: center;

    .submit-btn {
      height: 4.5rem;
      width: 100%;
      padding: 1rem 0;

      font-size: 1.4rem;
      color: #fff;
      background: #3b4dee;

      border-radius: 0.5rem;

      &:disabled {
        opacity: 0.6;
      }
    }

    .submit-btn:hover {
      cursor: pointer;
    }

    .submit-btn:disabled {
      cursor: default;
    }

    p {
      font-size: 1.2rem;
      opacity: 0.8;

      span {
        color: #3b4dee;

        fa-icon {
          font-size: 1rem;
          padding: 0 0.8rem;
        }
      }

      span:hover {
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 768px) {
  main > section {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  main > section {
    width: 30%;
  }
}
