<app-login-layout-structure title="Login" (submit)="submit()">
  <form [formGroup]="loginForm">
    <label for="Email">Email</label>
    <input
      type="email"
      id="Email"
      name="Email"
      formControlName="email"
      placeholder="Ex. email@email.com"
    />

    <div
      class="errors"
      *ngIf="
        (loginForm.get('email')?.errors && loginForm.get('email')?.dirty) ||
        loginForm.get('email')?.touched
      "
    >
      {{ getErrorMessageEmail("email") }}
    </div>

    <label for="Password">Password</label>
    <input
      type="password"
      id="Password"
      name="Password"
      formControlName="password"
      placeholder="Enter your password"
    />

    <div
      class="errors"
      *ngIf="
        (loginForm.get('password')?.errors &&
          loginForm.get('password')?.dirty) ||
        loginForm.get('password')?.touched
      "
    >
      {{ getErrorMessagePassword("password") }}
    </div>
  </form>
</app-login-layout-structure>
