* {
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 10rem;
  width: 100%;

  padding: 0 2rem;

  background-color: #ccc;

  .title {
    h1 {
      font-size: 2.5rem;
      font-weight: 300;

      span {
        font-weight: 600;
        color: #cc2121;
      }
    }
  }

  .exit,
  fa-icon {
    font-size: 2rem;
    color: #000;
  }
}

main {
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 8rem;
  width: 100%;

  span {
    text-align: center;
    font-size: 1.4rem;
  }
}
