<div class="home">
  <section class="intro">
    <h2>
      Seja para conquistar novos objetivos, organizar suas finanças ou
      impulsionar seu negócio, a Bank Services está ao seu lado em todas as
      etapas da sua jornada financeira.
    </h2>
  </section>
  <section class="about">
    <h1>Sobre a Bank Services</h1>
    <div class="cto">
      <p>
        A Bank Services é uma instituição financeira comprometida em fornecer
        soluções completas e inovadoras para facilitar a vida financeira de
        nossos clientes. Com uma abordagem focada em excelência, transparência e
        confiança, oferecemos uma ampla gama de produtos e serviços bancários
        adaptados às necessidades tanto de indivíduos quanto de empresas.
      </p>
      <p>
        Nosso portfólio inclui contas correntes, contas poupança, empréstimos
        pessoais e empresariais, cartões de crédito, financiamentos, seguros e
        investimentos. Além disso, oferecemos serviços bancários digitais, como
        pagamentos online, transferências instantâneas e gestão financeira por
        meio de nossa plataforma moderna e acessível.
      </p>
      <p>
        Na Bank Services, nossa missão é simplificar o acesso aos serviços
        financeiros, tornando-os mais acessíveis, ágeis e eficientes.
        Trabalhamos para garantir a segurança das transações e o bem-estar
        financeiro de nossos clientes, com suporte personalizado e soluções
        flexíveis que atendem às demandas do mercado atual.
      </p>
    </div>
    <a routerLink="/products">Conheça nossos produtos</a>
  </section>
</div>
