main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;

  height: 100%;

  font-family: "Poppins", sans-serif;

  section {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 90%;
  }

  .form-section {
    text-align: start;
    color: #000;

    h1 {
      font-size: 3.5rem;
      font-weight: 500;
    }

    p {
      font-size: 1.4rem;
      padding-bottom: 2rem;
    }
  }

  .main-section {
    text-align: center;

    .submit-btn {
      height: 4.5rem;
      width: 100%;
      padding: 1rem 0;

      font-size: 1.4rem;
      color: #fff;
      background: #3b4dee;

      border-radius: 0.5rem;

      &:disabled {
        opacity: 0.6;
      }
    }

    .submit-btn:hover {
      cursor: pointer;
    }

    .submit-btn:disabled {
      cursor: default;
    }

    p {
      font-size: 1.4rem;
      opacity: 0.8;

      padding-top: 2rem;

      span {
        color: #3b4dee;
      }

      span:hover {
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 768px) {
  main > section {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  main > section {
    width: 30%;
  }
}
